 <footer id="static-pages-footer">
   <div class="row">

     <div class="col-md-8">
       <a class="logo" title="Up-next" href="http://up-next.com">Up-next</a>
     </div>

     <div class="social-links-wrapper">
       <p><%= 'Follow Us:' %></p>
       <ul class="social-links">
         <li><a href="https://facebook.com/BeaconControl" class="facebook">Facebook</a></li>
         <li><a href="https://github.com/upnext/BeaconCtrl" class="github">Github</a></li>
         <li><a href="https://twitter.com/BeaconCtrl" class="twitter">Twitter</a></li>
       </ul>
     </div>

   </div>
 </footer>
