<nav id="main-nav">
  <div class="container">
    <%= link_to t('app_name'), root_path, class: 'logo' %>
  </div>
</nav>

<nav id="sub-nav" class="floating">
  <div class="container">
    <span class="title">Walkthrough</span>
  </div>
</nav>
