<div class="walkthrough">
  <%= render 'sidebar' %>

  <div class='content'>
    <div>
      <div class="title"><%= t('walkthrough.customize_features.title') %></div>
      <p><%= raw t('walkthrough.customize_features.description') %></p>
    </div>
  </div>
</div>
