<div class="walkthrough">
  <%= render 'sidebar' %>

  <div class='content'>
    <div>
      <div class="title"><%= t('walkthrough.link_beacon.title') %></div>
      <p><%= raw t('walkthrough.link_beacon.description', setup_action_url: create_action_static_pages_path) %></p>
    </div>
  </div>
</div>
