<div class="walkthrough">

  <div class='content'>

    <div id="setup_custom_action">
      <div class="subtitle">Setup an action in the test app using the dwelltime (custom action)</div>

      <ol>
        <li>Open admin panel</li>
        <%= image_tag('walktrough/extensions.png') %>

        <li>Click add beacon</li>
        <%= image_tag('walktrough/extensions.png') %>
        <li>Write beacon name, UUID, major and minor data</li>
        <li>Mark checkbox `test this beacon`</li>
        <li>Choose trigger `almoust touching`</li>
        <li>Click `save beacon` button</li>
        <li>Open application `BeaconControl` on your ipad</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
      </ol>
    </div>

    <div id="setup_coupon_action">
      <div class="subtitle">Setup an action in the test app (coupon action)</div>

      <ol>
        <li>Open admin panel</li>
        <%= image_tag('walktrough/extensions.png') %>

        <li>Click add beacon</li>
        <%= image_tag('walktrough/extensions.png') %>
        <li>Write beacon name, UUID, major and minor data</li>
        <li>Mark checkbox `test this beacon`</li>
        <li>Choose trigger `almoust touching`</li>
        <li>Click `save beacon` button</li>
        <li>Open application `BeaconControl` on your ipad</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
        <li>Close iPhone to beacon and wait for notication</li>
      </ol>
    </div>
  </div>
</div>
