<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<div class="controls">
  <%= link_to_modal(:cancel_icon, application_path(application), '#destroy-modal') unless application.test? %>
</div>
<%= link_to application_activities_path(application), class: %W[item-box edit] do %>
  <h3><%= application.name %></h3>
<% end %>
