<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<div class="controls">
  <%= link_to '<span class="fa fa-power-off"></span>'.html_safe,
    deactivate_application_extension_path(application, extension),
    class: %W[], method: :put %>
</div>

<%= link_to ext_setting_link(extension, self), class: %W[item-box edit] do %>
  <h3><%= extension.name %></h3>
<% end %>
