<div class="form-control control-group beacon-state">
  <% case beacon.vendor %>
  <% when 'Kontakt' %>
    <%= render 'beacons/beacon_state/kontakt',
               beacon: wrapped_beacon
    %>
  <% else %>
    <%= render text: beacon.vendor %>
  <%- end %>
</div>