<%= t('beacons.form.signal_interval') %>
<% if beacon.imported? && beacon.config.signal_interval_changed? %>
  <div class="tooltip-button-wrapper">
    <div class="bos bos-info_dark tooltip-button" data-toggle="tooltip" data-placement="top" title="<%=
        t('beacons.form.transmission_power_tooltip', current_value: beacon.config.current_signal_interval.to_s) %>">
    </div>
  </div>
<% end %>
