<%= t('beacons.form.device_id') %>
<div class="tooltip-button-wrapper">
  <div class="bos bos-info_dark tooltip-button" data-toggle="tooltip" data-placement="top" title="<%= t('beacons.form.device_id_tooltip') %>"></div>
</div>