<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<div id="cookie-info">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-9 col-sm-9 col-xs-8">
        <!-- LINK: This should link to privacy policy -->
        <p>To give you the best online experience, we use cookies on our site. By using our website you agree to the usage of cookies in accordance with your browser’s current settings. Read more about our <a href="/privacy">privacy policy.</a></p>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-3 col-xs-4">
        <a id="accept-cookies" class="btn">Got it</a>
      </div>

    </div>
  </div>
</div>